<header>
    <p id="logo">bs-less.org</p>
    <nav>
	<ul>
	    {%- for subdir in collections | getNavItems(page.url) -%}	
		<li
		{% if subdir.selected %}
		    aria-current="page" class="selected"
		{% endif %}
		>
		    <a href="{{ subdir.rootUrl }}">{{ subdir.name }}</a>
		</li>
	    {%- endfor -%}
	</ul>
    </nav>

</header>
