<aside>
    <ul>
	{%- for link in collections.all | sidebarFilter(page.url, collections) -%}
	    <li
	    {% if page.url == link.url %}
		aria-current="page" class="selected"
	    {% endif %}
	    >
		<a href="{{ link.url }}">
		    {{ link.fileSlug }}
		</a>
	    </li>
	{%- endfor -%}
    </ul>
</aside>
